<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Post</title>
  </head>
  <body>
    <form method="post" action="/new">
      <div class="form-container">
        <input
          placeholder="username"
          type="text"
          id="username"
          name="username"
        />
        <!-- <input
          placeholder="your message"
          type=""
          id="message"
          name="message"
        /> -->
        <textarea
          spellcheck="false"
          name="message"
          cols="30"
          rows="10"
        ></textarea>
        <button class="submit-button" type="submit">Post</button>
      </div>
    </form>
  </body>
</html>
