<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
  </head>
  <body>
    <form method="post" action="/new">
      <input placeholder="username" type="text" id="username" name="username" />
      <input
        placeholder="your message"
        type="text"
        id="message"
        name="message"
      />
      <button type="submit">Post</button>
    </form>
  </body>
</html>
