<!DOCTYPE html>
<html>
  <head>
    <title>Server</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main-container">
      <h1>the things we say</h1>
      <form method="post" action="/">
        <div class="form-container">
          <input
            placeholder="username"
            type="text"
            id="username"
            name="username"
          />
          <textarea
            spellcheck="false"
            name="message"
            cols="30"
            rows="10"
            required
          ></textarea>
          <button class="submit-button" type="submit">Post</button>
        </div>
      </form>
      <p>previous posts</p>
      <ul>
        <% if (messages && messages.length) { %> <%
        messages.slice().reverse().forEach(function(message) { %>
        <li>
          <strong>User: </strong><%= message.username %><br />
          <strong>Message: </strong><%= message.text %><br />
          <strong>Date: </strong><%= message.date.toLocaleDateString() %> (<%=
          message.date.toLocaleTimeString() %>)
        </li>
        <br />
        <% }) %> <% } else { %>
        <li>nothing here</li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
