<!DOCTYPE html>
<html>
  <head>
    <title>Server</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main-container">
      <h1>the things we say</h1>
      <div class="form-container">
        <form method="post" action="/" onsubmit="return validate()">
          <input
            type="text"
            placeholder="username"
            id="username"
            name="username"
            maxlength="40"
            oninput="usernameInput()"
          />
          <textarea
            placeholder="type your message.."
            spellcheck="false"
            name="message"
            id="message"
            rows="5"
            maxlength="280"
            oninput="messageInput()"
          ></textarea>
          <button type="submit">Post</button>
        </form>
      </div>
      <p>previous posts</p>
      <ul>
        <% if (messages && messages.length) { %> <%
        messages.slice().reverse().forEach(function(message) { %>
        <li>
          <strong>User: </strong><%= message.username %><br />
          <strong>Message: </strong><%= message.text %><br />
          <strong>Date: </strong><%= message.date.toLocaleDateString() %> (<%=
          message.date.toLocaleTimeString() %>)
        </li>
        <br />
        <% }) %> <% } else { %>
        <li>nothing here</li>
        <% } %>
      </ul>
    </div>
    <script src="../scripts/helper.js"></script>
  </body>
</html>
