<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>the things we say</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="main-container">
      <h1>the things we say</h1>
      <div class="form-container">
        <form method="post" action="/" onsubmit="return validate()">
          <input
            type="text"
            placeholder="Username"
            id="username"
            name="username"
            maxlength="40"
            oninput="usernameInput()"
          />
          <textarea
            placeholder="say something.."
            spellcheck="false"
            name="message"
            id="message"
            rows="5"
            maxlength="280"
            oninput="messageInput()"
          ></textarea>
          <button type="submit">Post</button>
        </form>
      </div>
      <div class="posts">
        <h2>Previous Posts</h2>
        <ul>
          <% if (messages && messages.length) { %> <%
          messages.slice().reverse().forEach(function(message) { %>
          <li>
            <div class="message-header">
              <strong><%= message.username %></strong>
              <span class="message-date"
                ><%= message.date.toLocaleDateString() %> (<%=
                message.date.toLocaleTimeString('en-US', { hour12: false,hour:
                '2-digit', minute: '2-digit' }) %>)</span
              >
            </div>
            <div class="message-body"><%= message.text %></div>
          </li>
          <br />
          <hr />
          <% }) %> <% } else { %>
          <li>nothing here</li>
          <% } %>
        </ul>
      </div>
    </div>
    <script src="../scripts/helper.js"></script>
  </body>
</html>
